*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# exclude individual IntelliJ settings
.idea
*.iml
*.iws

# Mac-specific
.DS_Store

# Eclipse
.classpath
.project
JavaModule/.settings/

# Maven
log/
JavaModule/target/

# Jupyter Notebook
.ipynb_checkpoints
