.content, input {
	margin: 0 0 0 20px;
}

input {
	font-size: 1.2em;
	border: none;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 15px 0 0 0;
	width: 40%;
	float: left;
}

li {
	margin: 0 0 8px 0;
	background-color: white;
	padding: 7px 15px 10px 15px;
}

li:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

li h2 {
	margin: 0 0 4px 0;
}

.document {
	white-space: pre-wrap;
	float: right;
	width: 40%;
	margin: 0 15% 0 0;
}