.content, input {
	margin: 0 0 0 20px;
}

.svdSwitch {
	margin: 0 0 13px 17px;
	vertical-align: middle;
}

input {
	font-family: serif;
	font-size: 1.2em;
	border: none;
}

table {
	margin: 10px 0 10px 20px;
}

table, th, td {
    border: 1px solid black;
}

ul {
	overflow-y: scroll;
	height: 550px;
	list-style-type: none;
	padding: 0;
	margin: 15px 0 0 0;
	width: 40%;
	float: left;
}

li div {
	margin: 0 0 8px 0;
	background-color: white;
	padding: 7px 15px 10px 15px;
}

.bordered {
	border: black;
	border-style: solid;
	border-width: thick;
}

li:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

li h2 {
	margin: 0 0 4px 0;
}

.document {
	overflow-y: scroll;
	height: 550px;
	white-space: pre-wrap;
	float: right;
	width: 40%;
	margin: 0 15% 0 0;
}
