<div class="app">
	<h1>
		{{title}}
	</h1>
	<div class="svdSwitch">Use SVD:&nbsp;<ui-switch [(ngModel)]="useSVD" size="small"></ui-switch></div>
	<input [(ngModel)]="query" placeholder="Query" (keyup.enter)="updateSearchResults(query)">
	<button (click)="updateSearchResults(query)">Search</button>
	<div class="content">
		<ul>
			<li *ngFor="let result of results">
				<a (click)="updateDocument(result.doc)">
					<h2>{{result.doc}}</h2>
					<p>{{result.rank}}</p>
			  	</a>
			</li>
		</ul>
		<div class="document">
			{{document}}
		</div>
	</div>
</div>
